# =====================
# Logs
# =====================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =====================
# Node / Frontend
# =====================
node_modules
dist
dist-ssr
*.local

# =====================
# Backend / Dados
# =====================
.env
data/*
!data/coletas_filtrado_iata.csv
!data/coletas_completo.csv


# =====================
# Editor / SO
# =====================
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


backend/core_milhas/data/
