# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
env/

backend/core_milhas/data/


# =========================
# NODE / FRONTEND
# =========================
node_modules/
dist/
frontend/node_modules/
frontend/dist/
frontend/package-lock.json


# =========================
# DADOS (REGRA GERAL)
# =========================
data/*

# liberar arquivos específicos
!data/.gitkeep
!data/coletas_filtrado_iata.csv
!data/coletas_completo.csv

# =========================
# BACKUPS / LIXO
# =========================
backup*
frontend/backup*
*.zip
*.rar

# =========================
# VARIÁVEIS DE AMBIENTE
# =========================
.env
.env.*
frontend/.env.local
frontend/.env.development
